body, html {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Maquette;
  src: url(ARSMaqRegTr.otf);
}
@font-face {
  font-family: Maquette;
  src: url(ARSMaqBolTr.otf);
  font-weight: bold;
}

h1, body, p {
  font-family: Maquette;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: white;
  box-shadow: 0 2px 6px -1px gray;
}

header * {
  margin-right: 10px;
  color: #A2A2A2;
}

header > div {
  margin-left: auto;
}

header > div > img {
  border-left: 1px solid #F3F3F3;
}

header img:nth-of-type(n+2) {
  display: none;
}

.top {
  width: 100%;
  height: 75%;
  padding-top: 50px;
  display: block;
}

.top::after {
  content: "";
  clear: both;
  display: block;
}

.top .col1 > div, .top .col2 > div {
  background-color: grey;
  box-sizing: border-box;
  border: 10px solid white;
}

.top .col2 {
  width: 50%;
  height: 100%;
  float: right;
  margin-right: 10px;
}

.top .col1 {
  height: 100%;
}

.top #article1 {
  margin-right: auto;
  height: 100%;
  overflow: hidden;
  border-right: 20px solid white;
  background: url(hero1.jpg) no-repeat center;
}

.top #article2 {
  height: 50%;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  background: url(hero2.jpg) no-repeat center;
}

.top #article3 {
  height: 50%;
  width: 50%;
  margin-right: auto;
  overflow: hidden;
  background: url(hero3.png) no-repeat center;
}

.top #article4 {
  height: 50%;
  width: 50%;
  float: right;
  overflow: hidden;
  background: url(hero4.png) no-repeat center;
}

.news {
  margin: 30px auto;
  width: 90%;
}

.heading h1 {
  font-size: 2em;
  color: #FF4020;
  padding: 15px 0 30px 40px;
}

.news-heading {
  display: block;
  width: 100%;
}

.news-heading::after {
  content: "";
  display: block;
  clear: both;
}

.news-heading h1 {
  font-size: 2em;
  color: #FF4020;
  margin: 20px 0 0 40px;
  float: left;
}

.news-heading p {
  color: #FF4020;
  float: right;
  margin-top: 40px;
}

.news ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.news li {
  display: inline-block;
  vertical-align: top;
  width: 16%;
}

.news li > img {
  max-width: 100%;
}

.news .row2 {
  margin-bottom: 40px;
}

.news .row2 div > div, .mobile-row div > div {
  color: #A59C99;
  font-size: 0.8em;
  margin-top: 3px;
}

.categories-background {
  background-color: #F6F6F6;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
}

.categories-wrapper {
  border-top: 1px solid #ECECEC;
  margin: 0 auto 40px auto;
}

.categories {
  width: 90%;
  margin: auto;
}

.heading {
  margin-bottom: 20px;
}

.heading h1 {
  display: inline-block;
  font-size: 2em;
  color: #FF4020;
  margin: 10px 0 0 0;
  padding-bottom: 0;
}

.heading span:nth-of-type(2) {
  float: right;
  margin-top: 45px;
  color: #FF4020;
}

.heading span:first-of-type {
  color: #A9A9A9;
  display: inline-block;
  margin: 10px 0 10px 40px;
}

.heading img {
  display: none;
}

.heading::after {
  content: "";
  clear: both;
  display: block;
}

.categories .mobile {
  display: none;
}

.categories ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.categories li {
  width: 16.6%;
  margin-right: 10px;
}

.categories li:last-of-type {
  margin-right: 0;
}

.categories li > img {
  max-width: 100%;
}

.categories .row1 li {
  display: inline-block;
}

.categories .row1 ul {
  margin-bottom: 0;
}

.categories .row2 ul {
  margin-top: 0;
}

.shadow-wrapper {
  background-color: white;
  box-shadow: 1px 1px 8px -3px;
}

.shadow-wrapper > div:nth-of-type(1) {
  font-weight: bold;
  padding: 10px;
}

.shadow-wrapper > div:nth-of-type(2) {
  color: #989898;
  font-size: 0.8em;
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid #F3F3F3;
}

.shadow-wrapper > div:nth-of-type(3) {
  color: #BDBDBD;
  font-size: 0.8em;
  padding: 10px 0 10px 10px;
}

footer {
  background-color: black;
  width: 100%;
  padding-bottom: 25px;
}

footer .wrapper {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

footer .col2 {
  float: right;
  width: 50%;
  margin-top: 65px;
}

footer .col1 {
  float: left;
  width: 50%;
  margin-top: 25px;
}

footer .col2 nav {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8em;
}

footer .col2 nav span {
  color: #888888;
  margin-left: 10px;
}

footer .col2 img {
  float: right;
  margin-top: 30px;
}

footer::after {
  content: "";
  clear: both;
  display: block;
}

.after-footer p {
  font-family: Maquette;
  color: #666666;
  font-size: 0.8em;
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.after-footer {
  margin: 0;
  width: 100%;
  background-color: black;
  padding-bottom: 25px;
  border-bottom: 4px solid #FF4020;
}

#footer-border {
  width: 100%;
  border-top: 1px solid #3F3F3F;
  padding-top: 25px;
  background-color: black;
  float: left;
}

footer .col1 span:first-of-type, footer .mobile .quote span:first-of-type {
  font-style: italic;
  color: white;
  line-height: 175%;
}

footer .col1 span:nth-of-type(2), footer .mobile .quote span:nth-of-type(2){
  color: #7B8888;
  font-size: 0.8em;
  margin-left: 5px;
  margin-bottom: 25px;
}

footer .col1 img {
  display: block;
  margin: 10px 0;
}

footer .mobile {
  display: none;
}

.mobile-row {
  display: none;
}

.mobile-col {
  display: none;
}

.news-heading img {
  display: none;
}

.top h1 {
  color: white;
  font-size: 1.5em;
  margin: 0 0 10px 10px;
}

.top span {
  color: #757575;
  margin: 0 0 10px 10px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
}

@media screen and (max-width: 1650px) {
  #categories-post-6 {
    display: none;
  }

  .categories .row1 li, .categories .row2 li {
    width: 20%;
  }
}

@media screen and (max-width: 1315px) {
  #categories-post-5 {
    display: none;
  }
  .categories .row1 li, .categories .row2 li {
    width: 25%;
  }
}

@media screen and (max-width: 1150px) {
  .news #news-6 {
    display: none;
  }
  .news li {
    width: 19.5%;
  }
}

@media screen and (max-width: 1130px) {
  .heading span:nth-of-type(2) {
    margin: 0;
  }
}

@media screen and (max-width: 1067px) {
  header span {
    display: none;
  }

  header span:last-of-type {
    display: inline-block;
  }

  @media screen and (max-width: 1010px) {
    #categories-post-4 {
      display: none;
    }
    .categories .row1 li, .categories .row2 li {
      width: 33.3%;
    }
  }

@media screen and (max-width: 1010px) {

  .mobile-col #article1 {
    width: 100%;
    height: 50%;
    display: block;
    border: 5px solid white;
    box-sizing: border-box;
  }
  .mobile-col #article2, .mobile-col #article3, .mobile-col #article4 {
    width: 32.8%;
    height: 50%;
    display: inline-block;
    border: 5px solid white;
    box-sizing: border-box;
  }
  .top .mobile-col {
    display: block;
    width: 96%;
    padding: 10px 0;
    margin: auto;
    max-height: 100%;
  }
  .top .col1, .top .col2 {
    display: none;
  }
  .mobile-col h1 {
    color: white;
    font-size: 1em;
    margin: 0 0 10px 10px;
  }
  .mobile-col #article1 h1 {
    font-size: 1.5em;
  }
  .mobile-col span {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 930px) {
  .news #news-6 {
    display: inline-block;
  }
  .news ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  .news .row1, .news .row2 {
    display: none;
  }
  .mobile-row {
    display: block;
  }
  .mobile-row li {
    width: 24%;
    margin-top: 30px;
  }
  .news h1 {
    margin-left: 0;
  }
  .news-heading p {
    margin-bottom: 0;
  }
  .mobile-row li > div {
    font-size: 0.9em;
    margin: 10px 0;
  }
}

@media screen and (max-width: 760px) {
  .mobile-col > #article1, .mobile-col > #article2, .mobile-col > #article3, .mobile-col > #article4 {
    width: 100%;
    height: 50%;
    display: inline-block;
    border: 5px solid white;
    box-sizing: border-box;
  }
  .mobile-col .hero-text-container > span {
    display: none;
  }
  .mobile-col .hero-text-container > h1 {
    font-size: 1.3em;
  }

  header img:nth-of-type(n+2) {
    display: inline-block;
  }
  header img:first-of-type {
    display: none;
  }
  header span:last-of-type {
    display: none;
  }

  footer .col1, footer .col2 {
    display: none;
  }
  footer .mobile {
    display: block;
  }
  footer .wrapper {
    padding: 0;
  }
  footer .mobile nav {
    color: #888888;
    font-size: 0.8em;
    max-width: 420px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  footer .mobile nav span {
    padding: 5px;
  }
  footer .mobile img {
    max-width: 100%;
    margin: auto;
    display: block;
    padding: 15px;
  }
  footer .mobile .quote {
    border-top: 1px solid #3F3F3F;
    border-bottom: 1px solid #3F3F3F;
    padding: 20px;
    text-align: center;
  }
  #footer-border {
    display: none;
  }
  footer {
    padding: 0;
  }
  footer .mobile img:last-of-type {
    padding: 25px;
  }
  .after-footer p {
    text-align: center;
  }
}

@media screen and (max-width: 700px) {

  .mobile-row li {
    width: 33%;
  }
  .news-heading p {
    display: none;
  }
  .news {
    width: 100%;
  }
  .mobile-row {
    width: 95%;
    margin: auto;
  }
  .news-heading h1 {
    padding-left: 20px;
  }

  #categories-post-6 {
    display: none;
  }

  #categories-post-4, #categories-post-5 {
    display:flex;
  }

  .categories .heading span {
    display: none;
  }

  .heading h1, .news-heading h1 {
    color: white;
    font-size: 1.2em;
    padding-top: 0;
    margin-top: 8px;
  }

  .heading img, .news-heading img {
    display: inline;
    float: right;
    margin-top: 8px;
    margin-right: 10px;
  }

  .heading, .news-heading {
    background-color: #FF4020;
    height: 36px;
    margin-bottom: 0;
  }

  .categories {
    width: 100%;
  }

  .categories .row1, .categories .row2 {
    display: none;
  }

  .categories .mobile {
    display: inline-block;
  }

  .categories ul {
    flex-direction: column;
    padding-left: 15px;
  }

  .categories li {
    width: 100%;
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 10px;
    max-height: 57px;
    display: flex;
    align-items:flex-start;
    padding-bottom: 10px;
  }

  .categories .mobile img {
    max-width: 25%;
    max-height: 57px;
    display: inline-block;
  }

  .categories li div {
    max-width: 75%;
    margin-left: 15px;
    font-size: 0.8em;
  }

  .categories #categories-post-1 {
    max-height: none;
    display: block;
  }

  .categories #categories-post-1 img {
    max-width: 100%;
    max-height: none;
    margin: auto;
    display: block;
  }

  .categories .mobile #categories-post-1 div:first-of-type {
    font-weight: bold;
    margin: 10px 0;
    font-size: 1em;
  }

  .categories .mobile #categories-post-1 div:nth-of-type(2){
    color: #888888;
    font-size: 0.8em;
    padding-bottom: 15px;

  }

  .categories .mobile #categories-post-1 div {
    display: block;
    margin: 0;
    max-width: 100%;
  }

  .categories-wrapper {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 640px) {
  .mobile-row li {
    width: 49%;
  }
}
